<form class="mt-4" action="/register" method="post">
    <div class="row">
        <div class="col-6 mb-3">
            <label for="user_name" class="form-label">Name and Surname</label>
            <input type="text" class="form-control" id="user_name" name="name">
        </div>
        <div class="col-6 mb-3">
            <label for="user_birth_date" class="form-label">Birth date</label>
            <input type="date" class="form-control" id="user_birth_date" name="birth_date">
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-3">
            <label for="user_email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="user_email" name="email">
        </div>
        <div class="col-6 mb-3">
            <label for="user-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="user-password" name="password">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>